.login-section {
  padding-top: unset;

  .container {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;

    .login-box {
      width: 300px;
    }
  }
}
