<header>
  <div class="container">
    <div class="logo">
      <a routerLink="/">filmAdviser</a>
    </div>
    <div class="search-box">
      <input type="text" placeholder="search">
      <button><img src="../assets/images/search.svg"></button>
    </div>
    <div class="actions">
      <div class="sign-pages" *ngIf="!authenticationService.isAuth">
        <a routerLink="/login">login</a>&nbsp;/
        <a routerLink="/signup">sign up</a>
      </div>
      <div class="user" *ngIf="authenticationService.isAuth">
        {{user?.login}}
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>

