<header>
  <div class="container">
    <div class="logo">
      <a routerLink="/"><img src="../assets/images/logo-large.png" alt=""></a>
    </div>
    <div class="search-box">
      <input type="text" placeholder="search">
      <button><img src="../assets/images/search.svg"></button>
    </div>
    <div class="actions">
      <div class="sign-pages" *ngIf="!authenticationService.isAuth">
        <a routerLink="/login">login</a>&nbsp;/
        <a routerLink="/signup">sign up</a>
      </div>
      <div class="user" *ngIf="authenticationService.isAuth">
        <span class="prof-name" (click)="menuClick()">{{authenticationService.currentUserValue.login}} <img src="../assets/images/down.svg" alt=""></span>
        <ul class="menu" *ngIf="menuOpen">
          <li routerLink="/profile">Profile</li>
          <li (click)="logout()">Logout</li>
        </ul>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>

