.photo {
  cursor: pointer;

  img {
    width: 100%;
  }
}

.info {
  padding: 10px;
  height: calc(100% - 331px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .name {
    cursor: pointer;

    h5 {
      font-family: LatoBlack;
      font-size: 18px;
    }
  }

  .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    .save {
      img{
        cursor: pointer;
        &:first-child {
          margin-right: 10px;
        }
      }
    }

    .star {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      p {
        font-family: LatoBlack;
        font-size: 18px;
      }

      img {
        margin-right: 5px;
      }
    }

    img {
      width: 20px;
    }
  }
}
