/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
}

section {
  box-sizing: border-box;
  padding-top: 30px;
}

.container {
  width: 1200px;
  margin: auto;
}
